<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/pageStyle.css"/>
<meta charset="UTF-8" />
<title>WEB2 :: EVENTOS</title>
</head>
<body>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<header>
		<nav class="navbar navbar-light bg-light">
			<span class="logo"> < Encontre aquele Evento <br> Pertinho de você/> </span> <a class="navbar-brand"> <img
				src="/img/inovaBra.png" width="200" height="120"
				class="d-inline-block align-top"  alt="Evento">
			</a>
		</nav>
	</header>
	<!-- FIM DO CABECALHO -->
	<br>

	<div class="card panel-default">
		<div class="card-heading">
			<br>
			
			<h4 class="card-title">CADASTRE-SE SEU EVENTO</h4>
			
			<hr class="linha">
			<br><br>
			<center>
			<a  class="btn btn-outline-danger" th:href="@{formCadastro}">CADASTRO
				DE EVENTOS</a>
				</center>
				<br>
				<center>
				<a class="btn btn-outline-secondary" th:href="@{cadastrarEvento}">+CADASTRE O LOCAL DO EVENTO</a>
				</center>
			<br><br><br>
				<br>
				<h4 class="card-title">ULTIMOS EVENTOS CADASTRADOS</h4>
					<hr class="linha">
					<!-- INICIO DA TABELA -->
					<table class="table table-bordered">
  					<thead>
  					<tr>
   					<th>NOME DO EVENTO</th>
					<th>DATA DE REALIZAÇÃO</th>
					<th>NOME DO RESPONSÁVEL</th>
					<th>CONTATO DO RESPONSÁVEL</th>
					<th>AÇÃO</th>
					</tr>
					</thead>
					<tr th:each="cont: ${lista}">
					<td th:text="${cont.nome_evento}"></td>
					<td th:text="${cont.data_realizacao}"></td>
					<td th:text="${cont.nome_responsavel}"></td>
					<td th:text="${cont.telefone_responsavel}"></td>
					<td>
					<a th:href="@{/editarEvento(id_evento=${cont.id_evento})}">Editar</a> 
					&nbsp;&nbsp;
					<a th:href="@{/removerEvento(id_evento=${cont.id_evento})}">Remover</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>